* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: #403f3d;
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --border-primary-color: #c1b6ad;
  --border-inverse-color: #665f55;
  --text-dark-primary: #e1d4c9;
  --text-dark-inverse: #e1d4c9;
  --text-dark-accent: #b0907a;
  --bg-dark-primary: #292826;
  --bg-dark-container: #403f3d;
  --bg-dark-overlay: #292826;
  --border-dark-primary-color: #665f55;
  --border-dark-inverse-color: #c1b6ad;
  --white: #fff;
  --width-decstop: 1400px;
  --width-tablet: 768px;
  --width-mobile: 380px;
}

.dark {
  background: var(--bg-dark-primary);
  color: var(--text-dark-primary);
}

body {
  max-width: var(--width-decstop);
  margin: 0 auto;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  transition: background-color .25s ease, color .25s ease;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.medium-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.desktop-nav a {
  display: inline-block;
}

.desktop-nav a:hover {
  opacity: 0.5;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.theme-toggle-container {
  padding: 3px;
  display: flex;
  gap: 8px;
  border: 1px solid var(--border-primary-color);
  border-radius: 100px;
}

.theme-toggle-container button {
  display: flex;
}

.dark-toggle-button:hover {
  background-color: var(--border-dark-primary-color);
  border-radius: 100px;
}

.menu-link {
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid transparent;
}

.menu-link:hover {
  border-color: var(--text-primary);
}

.menu-link-dark:hover {
  border-color: var(--text-dark-primary);
}

.burger-menu {
  display: none;
}

.hero-section {
  border-radius: 40px;
  background: url(assets/hero_section_assets/hero_background.jpg);
}

.hero-text-container {
  max-width: 50rem;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-inverse);
}

.hero-text-container span {
  font-style: italic;
  color: var(--text-accent);
}

.hero-section .hero-menu-link {
  max-width: 200px;
  padding: 20px 78px;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .hero-menu-link img {
  display: none;
  height: 16px;
}

.hero-section .hero-menu-link:hover img {
  display: block;
}

.favorite-coffee-section {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.favorite-coffee-section h2>span {
  color: var(--text-accent);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.slider img {
  width: 480px;
  height: 480px;
}

.slider.active {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slider-container .non-active {
  display: none;
}

.slider-control-arrows button {
  position: absolute;
  top: 50%;
  padding: 24px;
  border: 1px solid var(--border-inverse-color);
  border-radius: 100px;
}

.slider-left-arrow {
  left: 0;
  transform: rotate(180deg);
}

.slider-right-arrow {
  right: 0;
}

.slider-control-arrows button:hover {
  background-color: var(--bg-container);
}

.slider-description {
  max-width: 30rem;
  text-align: center;
}

.slider-control-tabs {
  display: flex;
  gap: 12px;
}

.slider-control-tabs button {
  width: 40px;
  height: 4px;
  background-color: var(--border-primary-color);
  border-radius: 100px;
}

.slider-control-tabs .active-slide {
  background-color: var(--border-dark-primary-color);
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .desktop-nav,
  .menu-link-container {
    display: none;
  }

  h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
}

@media (max-width: 500px) {
  .slider img {
    width: 340px;
    height: 340px;
  }

  .slider-control-arrows button {
    display: none;
  }
}